--
-- PostgreSQL database dump
--

\restrict XvO4dBoQvlgjFPvPDxyh4ZWWBPTdV7QpHpl5ZoUVfUF9ukSnUfdNswpzyxMmwkP

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: core_auditlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_auditlog (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    action character varying(20) NOT NULL,
    object_id character varying(255),
    ip_address inet,
    changes jsonb NOT NULL,
    content_type_id integer,
    user_id integer
);


ALTER TABLE public.core_auditlog OWNER TO postgres;

--
-- Name: core_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_calificaciontributaria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_calificaciontributaria (
    id bigint NOT NULL,
    monto_total_distribuido numeric(20,4) NOT NULL,
    monto_unitario_pesos numeric(12,6) NOT NULL,
    estado character varying(20) NOT NULL,
    ultima_modificacion timestamp with time zone NOT NULL,
    modificado_por_id integer,
    evento_id bigint NOT NULL
);


ALTER TABLE public.core_calificaciontributaria OWNER TO postgres;

--
-- Name: core_calificaciontributaria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_calificaciontributaria ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_calificaciontributaria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_conceptofactor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_conceptofactor (
    id bigint NOT NULL,
    columna_dj integer NOT NULL,
    descripcion character varying(255) NOT NULL,
    tipo_dato character varying(50) NOT NULL
);


ALTER TABLE public.core_conceptofactor OWNER TO postgres;

--
-- Name: core_conceptofactor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_conceptofactor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_conceptofactor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_detallefactor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_detallefactor (
    id bigint NOT NULL,
    valor numeric(10,8) NOT NULL,
    calificacion_id bigint NOT NULL,
    concepto_id bigint NOT NULL
);


ALTER TABLE public.core_detallefactor OWNER TO postgres;

--
-- Name: core_detallefactor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_detallefactor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_detallefactor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_emisor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_emisor (
    id bigint NOT NULL,
    rut character varying(12) NOT NULL,
    razon_social character varying(255) NOT NULL,
    nemonico character varying(20) NOT NULL,
    tipo_sociedad character varying(1) NOT NULL
);


ALTER TABLE public.core_emisor OWNER TO postgres;

--
-- Name: core_emisor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_emisor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_emisor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_eventocorporativo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_eventocorporativo (
    id bigint NOT NULL,
    mercado character varying(3) NOT NULL,
    fecha_pago date NOT NULL,
    fecha_registro date,
    numero_dividendo integer NOT NULL,
    secuencia integer NOT NULL,
    ejercicio_comercial integer NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    creado_por_id integer,
    emisor_id bigint NOT NULL,
    CONSTRAINT core_eventocorporativo_ejercicio_comercial_check CHECK ((ejercicio_comercial >= 0)),
    CONSTRAINT core_eventocorporativo_numero_dividendo_check CHECK ((numero_dividendo >= 0)),
    CONSTRAINT core_eventocorporativo_secuencia_check CHECK ((secuencia >= 0))
);


ALTER TABLE public.core_eventocorporativo OWNER TO postgres;

--
-- Name: core_eventocorporativo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_eventocorporativo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_eventocorporativo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_historicalcalificaciontributaria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_historicalcalificaciontributaria (
    id bigint NOT NULL,
    monto_total_distribuido numeric(20,4) NOT NULL,
    monto_unitario_pesos numeric(12,6) NOT NULL,
    estado character varying(20) NOT NULL,
    ultima_modificacion timestamp with time zone NOT NULL,
    history_id integer NOT NULL,
    history_date timestamp with time zone NOT NULL,
    history_change_reason character varying(100),
    history_type character varying(1) NOT NULL,
    evento_id bigint,
    history_user_id integer,
    modificado_por_id integer
);


ALTER TABLE public.core_historicalcalificaciontributaria OWNER TO postgres;

--
-- Name: core_historicalcalificaciontributaria_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_historicalcalificaciontributaria ALTER COLUMN history_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_historicalcalificaciontributaria_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_historicaleventocorporativo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.core_historicaleventocorporativo (
    id bigint NOT NULL,
    mercado character varying(3) NOT NULL,
    fecha_pago date NOT NULL,
    fecha_registro date,
    numero_dividendo integer NOT NULL,
    secuencia integer NOT NULL,
    ejercicio_comercial integer NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    history_id integer NOT NULL,
    history_date timestamp with time zone NOT NULL,
    history_change_reason character varying(100),
    history_type character varying(1) NOT NULL,
    creado_por_id integer,
    emisor_id bigint,
    history_user_id integer,
    CONSTRAINT core_historicaleventocorporativo_ejercicio_comercial_check CHECK ((ejercicio_comercial >= 0)),
    CONSTRAINT core_historicaleventocorporativo_numero_dividendo_check CHECK ((numero_dividendo >= 0)),
    CONSTRAINT core_historicaleventocorporativo_secuencia_check CHECK ((secuencia >= 0))
);


ALTER TABLE public.core_historicaleventocorporativo OWNER TO postgres;

--
-- Name: core_historicaleventocorporativo_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.core_historicaleventocorporativo ALTER COLUMN history_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_historicaleventocorporativo_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: otp_totp_totpdevice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.otp_totp_totpdevice (
    id integer NOT NULL,
    name character varying(64) NOT NULL,
    confirmed boolean NOT NULL,
    key character varying(80) NOT NULL,
    step smallint NOT NULL,
    t0 bigint NOT NULL,
    digits smallint NOT NULL,
    tolerance smallint NOT NULL,
    drift smallint NOT NULL,
    last_t bigint NOT NULL,
    user_id integer NOT NULL,
    throttling_failure_count integer NOT NULL,
    throttling_failure_timestamp timestamp with time zone,
    created_at timestamp with time zone,
    last_used_at timestamp with time zone,
    CONSTRAINT otp_totp_totpdevice_digits_check CHECK ((digits >= 0)),
    CONSTRAINT otp_totp_totpdevice_step_check CHECK ((step >= 0)),
    CONSTRAINT otp_totp_totpdevice_throttling_failure_count_check CHECK ((throttling_failure_count >= 0)),
    CONSTRAINT otp_totp_totpdevice_tolerance_check CHECK ((tolerance >= 0))
);


ALTER TABLE public.otp_totp_totpdevice OWNER TO postgres;

--
-- Name: otp_totp_totpdevice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.otp_totp_totpdevice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.otp_totp_totpdevice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
1	Analista Tributario
2	Corredor de Bolsa
3	Auditor Interno
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
1	3	2
2	4	1
3	2	3
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
23d3f62187691df6cfbb928a8acd8d282a625560	2025-12-10 09:34:27.178472+00	1
\.


--
-- Data for Name: core_auditlog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_calificaciontributaria; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_conceptofactor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_detallefactor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_emisor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_eventocorporativo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_historicalcalificaciontributaria; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: core_historicaleventocorporativo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	core	conceptofactor
8	core	emisor
9	core	eventocorporativo
10	core	calificaciontributaria
11	core	historicalcalificaciontributaria
12	core	historicaleventocorporativo
13	core	detallefactor
14	core	auditlog
15	migrations	migration
16	authtoken	token
17	authtoken	tokenproxy
18	otp_totp	totpdevice
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: otp_totp_totpdevice; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.otp_totp_totpdevice (id, name, confirmed, key, step, t0, digits, tolerance, drift, last_t, user_id, throttling_failure_count, throttling_failure_timestamp, created_at, last_used_at) FROM stdin;
2	default	t	359057527e25be208b953a48eb0e7190b1a95616	30	0	6	1	0	58847818	4	0	\N	2025-12-11 06:28:14.546066+00	2025-12-11 06:29:03.406319+00
1	default	t	cf9571206f4884fcbe9b07c84b015c141e45eb9a	30	0	6	1	0	58850154	1	0	\N	2025-12-11 05:44:25.872918+00	2025-12-12 01:57:07.04906+00
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 3, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 3, true);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 4, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: core_auditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_auditlog_id_seq', 2871, true);


--
-- Name: core_calificaciontributaria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_calificaciontributaria_id_seq', 78, true);


--
-- Name: core_conceptofactor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_conceptofactor_id_seq', 30, true);


--
-- Name: core_detallefactor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_detallefactor_id_seq', 2313, true);


--
-- Name: core_emisor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_emisor_id_seq', 68, true);


--
-- Name: core_eventocorporativo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_eventocorporativo_id_seq', 78, true);


--
-- Name: core_historicalcalificaciontributaria_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_historicalcalificaciontributaria_history_id_seq', 88, true);


--
-- Name: core_historicaleventocorporativo_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.core_historicaleventocorporativo_history_id_seq', 78, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 14, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 18, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 28, true);


--
-- Name: otp_totp_totpdevice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.otp_totp_totpdevice_id_seq', 2, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: core_auditlog core_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_auditlog
    ADD CONSTRAINT core_auditlog_pkey PRIMARY KEY (id);


--
-- Name: core_calificaciontributaria core_calificaciontributaria_evento_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_calificaciontributaria
    ADD CONSTRAINT core_calificaciontributaria_evento_id_key UNIQUE (evento_id);


--
-- Name: core_calificaciontributaria core_calificaciontributaria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_calificaciontributaria
    ADD CONSTRAINT core_calificaciontributaria_pkey PRIMARY KEY (id);


--
-- Name: core_conceptofactor core_conceptofactor_columna_dj_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_conceptofactor
    ADD CONSTRAINT core_conceptofactor_columna_dj_key UNIQUE (columna_dj);


--
-- Name: core_conceptofactor core_conceptofactor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_conceptofactor
    ADD CONSTRAINT core_conceptofactor_pkey PRIMARY KEY (id);


--
-- Name: core_detallefactor core_detallefactor_calificacion_id_concepto_id_b3f5e3a9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_detallefactor
    ADD CONSTRAINT core_detallefactor_calificacion_id_concepto_id_b3f5e3a9_uniq UNIQUE (calificacion_id, concepto_id);


--
-- Name: core_detallefactor core_detallefactor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_detallefactor
    ADD CONSTRAINT core_detallefactor_pkey PRIMARY KEY (id);


--
-- Name: core_emisor core_emisor_nemonico_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_emisor
    ADD CONSTRAINT core_emisor_nemonico_key UNIQUE (nemonico);


--
-- Name: core_emisor core_emisor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_emisor
    ADD CONSTRAINT core_emisor_pkey PRIMARY KEY (id);


--
-- Name: core_emisor core_emisor_rut_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_emisor
    ADD CONSTRAINT core_emisor_rut_key UNIQUE (rut);


--
-- Name: core_eventocorporativo core_eventocorporativo_emisor_id_numero_dividen_6d0cb2de_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventocorporativo
    ADD CONSTRAINT core_eventocorporativo_emisor_id_numero_dividen_6d0cb2de_uniq UNIQUE (emisor_id, numero_dividendo, ejercicio_comercial);


--
-- Name: core_eventocorporativo core_eventocorporativo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventocorporativo
    ADD CONSTRAINT core_eventocorporativo_pkey PRIMARY KEY (id);


--
-- Name: core_historicalcalificaciontributaria core_historicalcalificaciontributaria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_historicalcalificaciontributaria
    ADD CONSTRAINT core_historicalcalificaciontributaria_pkey PRIMARY KEY (history_id);


--
-- Name: core_historicaleventocorporativo core_historicaleventocorporativo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_historicaleventocorporativo
    ADD CONSTRAINT core_historicaleventocorporativo_pkey PRIMARY KEY (history_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: otp_totp_totpdevice otp_totp_totpdevice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_totp_totpdevice
    ADD CONSTRAINT otp_totp_totpdevice_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: core_auditlog_content_type_id_0a26d6b4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_auditlog_content_type_id_0a26d6b4 ON public.core_auditlog USING btree (content_type_id);


--
-- Name: core_auditlog_timestamp_c6ef4463; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_auditlog_timestamp_c6ef4463 ON public.core_auditlog USING btree ("timestamp");


--
-- Name: core_auditlog_user_id_3797aaab; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_auditlog_user_id_3797aaab ON public.core_auditlog USING btree (user_id);


--
-- Name: core_calificaciontributaria_estado_8372da0a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_calificaciontributaria_estado_8372da0a ON public.core_calificaciontributaria USING btree (estado);


--
-- Name: core_calificaciontributaria_estado_8372da0a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_calificaciontributaria_estado_8372da0a_like ON public.core_calificaciontributaria USING btree (estado varchar_pattern_ops);


--
-- Name: core_calificaciontributaria_modificado_por_id_58c2a26a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_calificaciontributaria_modificado_por_id_58c2a26a ON public.core_calificaciontributaria USING btree (modificado_por_id);


--
-- Name: core_detallefactor_calificacion_id_55c4796d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_detallefactor_calificacion_id_55c4796d ON public.core_detallefactor USING btree (calificacion_id);


--
-- Name: core_detallefactor_concepto_id_b7f9b742; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_detallefactor_concepto_id_b7f9b742 ON public.core_detallefactor USING btree (concepto_id);


--
-- Name: core_emisor_nemonico_1298c2fb_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_emisor_nemonico_1298c2fb_like ON public.core_emisor USING btree (nemonico varchar_pattern_ops);


--
-- Name: core_emisor_rut_bbc67ab1_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_emisor_rut_bbc67ab1_like ON public.core_emisor USING btree (rut varchar_pattern_ops);


--
-- Name: core_eventocorporativo_creado_por_id_b9da21c2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_eventocorporativo_creado_por_id_b9da21c2 ON public.core_eventocorporativo USING btree (creado_por_id);


--
-- Name: core_eventocorporativo_emisor_id_e954b496; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_eventocorporativo_emisor_id_e954b496 ON public.core_eventocorporativo USING btree (emisor_id);


--
-- Name: core_eventocorporativo_fecha_pago_d29d33b2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_eventocorporativo_fecha_pago_d29d33b2 ON public.core_eventocorporativo USING btree (fecha_pago);


--
-- Name: core_historicalcalificacio_modificado_por_id_c5bb2977; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicalcalificacio_modificado_por_id_c5bb2977 ON public.core_historicalcalificaciontributaria USING btree (modificado_por_id);


--
-- Name: core_historicalcalificaciontributaria_estado_4f915557; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicalcalificaciontributaria_estado_4f915557 ON public.core_historicalcalificaciontributaria USING btree (estado);


--
-- Name: core_historicalcalificaciontributaria_estado_4f915557_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicalcalificaciontributaria_estado_4f915557_like ON public.core_historicalcalificaciontributaria USING btree (estado varchar_pattern_ops);


--
-- Name: core_historicalcalificaciontributaria_evento_id_0e0cfa70; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicalcalificaciontributaria_evento_id_0e0cfa70 ON public.core_historicalcalificaciontributaria USING btree (evento_id);


--
-- Name: core_historicalcalificaciontributaria_history_date_d4107080; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicalcalificaciontributaria_history_date_d4107080 ON public.core_historicalcalificaciontributaria USING btree (history_date);


--
-- Name: core_historicalcalificaciontributaria_history_user_id_46cc1bed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicalcalificaciontributaria_history_user_id_46cc1bed ON public.core_historicalcalificaciontributaria USING btree (history_user_id);


--
-- Name: core_historicalcalificaciontributaria_id_82074d8d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicalcalificaciontributaria_id_82074d8d ON public.core_historicalcalificaciontributaria USING btree (id);


--
-- Name: core_historicaleventocorporativo_creado_por_id_22dc0a33; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicaleventocorporativo_creado_por_id_22dc0a33 ON public.core_historicaleventocorporativo USING btree (creado_por_id);


--
-- Name: core_historicaleventocorporativo_emisor_id_8b0bb49d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicaleventocorporativo_emisor_id_8b0bb49d ON public.core_historicaleventocorporativo USING btree (emisor_id);


--
-- Name: core_historicaleventocorporativo_fecha_pago_cbd45c94; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicaleventocorporativo_fecha_pago_cbd45c94 ON public.core_historicaleventocorporativo USING btree (fecha_pago);


--
-- Name: core_historicaleventocorporativo_history_date_c7f5159d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicaleventocorporativo_history_date_c7f5159d ON public.core_historicaleventocorporativo USING btree (history_date);


--
-- Name: core_historicaleventocorporativo_history_user_id_c83bf0d5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicaleventocorporativo_history_user_id_c83bf0d5 ON public.core_historicaleventocorporativo USING btree (history_user_id);


--
-- Name: core_historicaleventocorporativo_id_534cca88; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX core_historicaleventocorporativo_id_534cca88 ON public.core_historicaleventocorporativo USING btree (id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: otp_totp_totpdevice_user_id_0fb18292; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX otp_totp_totpdevice_user_id_0fb18292 ON public.otp_totp_totpdevice USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_auditlog core_auditlog_content_type_id_0a26d6b4_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_auditlog
    ADD CONSTRAINT core_auditlog_content_type_id_0a26d6b4_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_auditlog core_auditlog_user_id_3797aaab_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_auditlog
    ADD CONSTRAINT core_auditlog_user_id_3797aaab_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_calificaciontributaria core_calificaciontri_evento_id_6de6471a_fk_core_even; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_calificaciontributaria
    ADD CONSTRAINT core_calificaciontri_evento_id_6de6471a_fk_core_even FOREIGN KEY (evento_id) REFERENCES public.core_eventocorporativo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_calificaciontributaria core_calificaciontri_modificado_por_id_58c2a26a_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_calificaciontributaria
    ADD CONSTRAINT core_calificaciontri_modificado_por_id_58c2a26a_fk_auth_user FOREIGN KEY (modificado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_detallefactor core_detallefactor_calificacion_id_55c4796d_fk_core_cali; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_detallefactor
    ADD CONSTRAINT core_detallefactor_calificacion_id_55c4796d_fk_core_cali FOREIGN KEY (calificacion_id) REFERENCES public.core_calificaciontributaria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_detallefactor core_detallefactor_concepto_id_b7f9b742_fk_core_conc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_detallefactor
    ADD CONSTRAINT core_detallefactor_concepto_id_b7f9b742_fk_core_conc FOREIGN KEY (concepto_id) REFERENCES public.core_conceptofactor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_eventocorporativo core_eventocorporativo_creado_por_id_b9da21c2_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventocorporativo
    ADD CONSTRAINT core_eventocorporativo_creado_por_id_b9da21c2_fk_auth_user_id FOREIGN KEY (creado_por_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_eventocorporativo core_eventocorporativo_emisor_id_e954b496_fk_core_emisor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_eventocorporativo
    ADD CONSTRAINT core_eventocorporativo_emisor_id_e954b496_fk_core_emisor_id FOREIGN KEY (emisor_id) REFERENCES public.core_emisor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_historicalcalificaciontributaria core_historicalcalif_history_user_id_46cc1bed_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_historicalcalificaciontributaria
    ADD CONSTRAINT core_historicalcalif_history_user_id_46cc1bed_fk_auth_user FOREIGN KEY (history_user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: core_historicaleventocorporativo core_historicalevent_history_user_id_c83bf0d5_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.core_historicaleventocorporativo
    ADD CONSTRAINT core_historicalevent_history_user_id_c83bf0d5_fk_auth_user FOREIGN KEY (history_user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: otp_totp_totpdevice otp_totp_totpdevice_user_id_0fb18292_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_totp_totpdevice
    ADD CONSTRAINT otp_totp_totpdevice_user_id_0fb18292_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict XvO4dBoQvlgjFPvPDxyh4ZWWBPTdV7QpHpl5ZoUVfUF9ukSnUfdNswpzyxMmwkP

